
// extend fotbakgrunden ////////////////////////////////////////////////////////////////////////////////////////////////////////
 .thomasbackground{
        background-color: $black;
        //background-image:url("https://www.fusioncorpdesign.com/packages/fruitful/themes/fruitful/img/footerbg.jpg" );
        background-image:url("http://kulturivast.se/sites/all/themes/kivnew/images/Bakgrund-fot-karta.png" );
        background-repeat:  no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 1.2rem;
        margin-top:0px !important;
         @media #{$medium-up} {
            padding-left: 4rem;
            padding-right:4rem;
        }
        @media #{$small-only} {
                         padding-left: 1rem;
                         padding-right:4rem;
	                }
        padding-top:2rem;
        color:$white;
    }
 // -----------------------------------------------------------------------------
    .ajbackground{
         background-color: $black;
        //background-image:url("https://www.fusioncorpdesign.com/packages/fruitful/themes/fruitful/img/footerbg.jpg" );
        background-image:url("http://kulturivast.se/sites/all/themes/kivnew/images/Bakgrund-fot-karta.png" );     
        background-repeat:  no-repeat;
        background-size: contain;
        //background-attachment: fixed;
        background-position: center; 
        text-align: center;
        font-size: 1.2rem;
        margin-top:0px !important;
         @media #{$large-up} {
            //background-size: contain;
         }
         @media #{$medium-up} {
            padding-left: 4rem;
            padding-right:4rem;
                      
        }
        @media #{$small-only} {
            padding-left: 1rem;
            padding-right:4rem;
            background-attachment: fixed;
            background-size: cover;
	    }
        padding-top:2rem;
        color:$white;
    }
// /////////////////// ////////////////////////////////////////////////////////////////////////////////////////////////////////

.footencol{padding-left:0px; padding-right:0px;}

.footer {

    @extend .thomasbackground;

    a{
        color:$white;
    }

    .vglogo{
	    width:10rem;
        text-align:left;
        margin-bottom:2rem;
    }
    .annonsrow{
	    
        img{
            min-width:224px;
            max-width:224px;
            margin-bottom:2rem;
        }
    }
    .footdelare{      
	    margin-top:10rem; 	

        .socialiconlist{
            
             @media #{$small-up} {
                    float:left;
                    margin-top:1.2rem;
                    margin-left:0px !important;
	            }
              @media #{$medium-up} {
                    float:right;
                }

            li{
                list-style:none;
                
	            float:left;
                @media #{$small-only} {
                    margin-right:0.5rem;
	            }
                @media #{$medium-up} {
                    margin-left:0.5rem;
                }
                @media #{$large-up} 
                {
                    margin-left:0.96rem;
                }
            }
            img{
	            
                @media #{$small-up} {
                    max-width:51px;
	            }
                @media #{$medium-up} {
                    max-width:50px;
                }
                @media #{$large-up} 
                {
                    max-width:63px;
                }
            }
        }
        .tab-bar-logosection {
            margin-right: 5em;
            margin-top: 0.31rem; 
        }
        .foot-kivlogo-container {
            display: table-cell;
            vertical-align:bottom;
            height:60px;
            img{
                width:210px;
            }
        }
        .footdelarehrbox hr{
	        margin-top:0px;
            padding:0px;
        }
    }
  
    .adressrow{
        div{
            text-align:left; 
            font-size:1rem;
            font-weight:200;
            margin-bottom:1rem;
        }
        .tab-bar-logosection {
            margin-right: 5em;
            margin-top: 0.31rem; 
        }
        h3{
          font-size:1rem;
          font-weight:600;
          margin-bottom:0px;
	      color:$white;
        }
    }

}//footer2 slut
 footer.footer {
    background: #4cff00;
    padding-bottom: 38px;
}

.footer .annonsrow img {
    min-width: 220px;
    max-width: 220px;
}

footer.footer.annonsfot {
    background: #fff;
    margin: 0 !important;
    padding: 0;
}

.footer .footdelare {
    margin-top: 5rem;
}

.footer .footdelare .foot-kivlogo-container img {
    max-width: 160px;
}

.footer .footdelare .foot-kivlogo-container {
    height: 83px;
}

.footer .footdelare .socialiconlist img {
    max-width: 48px;
}

.foot-lank {
    text-align: left;
}

.foot-lank.last {
    margin-bottom: 35px;
}

.foot-lank a {
    font-family: "acumin-pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    font-size: 1.125rem;
    overflow: hidden;
    display: inline-block;
    width: 330px;
}

.foot-lank a:hover {
    text-decoration: underline;
}

.foot-lank-pil {
    float: right;
    margin-left: 10px;
    width: 33px;
    height: 33px;
    background-image: url("../images/kiv-elements.png");
    background-position: -19px -120px;
    background-repeat: repeat-x;
}

@media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .foot-lank-pil {
        background-image: url("../images/kiv-elements@2x.png");
        background-size: 500px 700px;
    }
}
