
.pager-next{
    border:1px solid $gainsboro;
     background-color:$orange;
     a{
         padding:4rem;
        color:$white;
        &:hover{ 
           
        }
     }
     &:hover{
         background-color:$orangeLight;
         color:$black;
     }
}

.buttonmall{
    width:16rem !important;
    font-size:.8rem;
}
.darkhover{
    &:hover{
        background:$kk_aj_darkgrey;
        color:$white;
    }
}
.lighthover{
    &:hover{
        background:$kk_aj_lightgrey;
        color:$black;
    }
}
.beigehover{
    &:hover{
        background:$kk_aj_beige;
       color:$white;
    }
}