.menybreadcrumb{
    height:26px;
    padding-top:0.1rem;
    padding-left:.5rem;
    background-color:$orange;
    a{  
        color: $white !important;
        /*color: $jumbo !important;*/
        padding-right:2px;
        padding-left:2px;
        &:hover{color: $white  !important;
               text-decoration:underline;
        } 
        text-transform: uppercase;     
        font-size:$breadcrumb-font-size;          
    }    
   
    .mbc_navlinklist{
        li{
            display: inline;
            list-style-type: none;
            border-left:1px solid $jumbo;
            text-transform:uppercase;
            font-size:$breadcrumb-font-size;
            padding-right:2px;
            padding-left:1.5rem;
            //olor: $jumbo  !important;

            &:first-child {                
                border-left:0px; 
                padding-left:1.5rem;
            }
            &:last-child {
                padding-left:3px;
            }
                   
        }
    }    
   /*color: $jumbo !important;*/
    color: $white !important;
}
