#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: $kk_aj_darkgrey; /* Set a background color */
    color: $white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 16px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: $kk_aj_lightgrey; /* Add a dark-grey background on hover */
    color:$kk_aj_darkgrey;
}


/* Menu Styles */

.third-level-menu
{
    z-index:9999;
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    > li{
        height: auto;
        background: $white;
        &:hover { 
            z-index:9999; 
            background:  $smoke; 
        }
    }
}

.second-level-menu
{
    z-index: 9999;
    position: absolute;
    top: 34px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background:$vapor;
    > li{
        position: relative;
        height: 34px;
        background:  $vapor ;
        &:hover {
            z-index:9999;
            background:  $smoke; 
        }
    }
}

.top-level-menu
{
    z-index:9999;
    list-style: none;
    padding: 0;
    margin: 0;
    a{
        border:1px #ccc solid;
         color: $black;
        text-decoration: none;
        padding: 0 0 0 10px;    
        /* Make the link cover the entire list item-container */
        display: block;
        line-height: 34px;
        &:hover { color: #000000; }
    }
    > li{
        position: relative;
        float: left;
        height: 34px;
        width: 120px;
        background: $white;
        &:hover {
            z-index:9999; 
            background:  $smoke;             
        }
    }
   
}
.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}

.motivlabel{
    color: #777777;
    font-size: 0.625rem;
    font-weight: bold;
    margin-bottom: 0;
    padding: 8px 0.9375rem 2px;
    text-transform: uppercase;
    &:hover{background: $white!important;}
}
.motiv_alt{
    padding:.5rem;
}
/*.top-level-menu a.godkandlabel{color:#00a65a;}
.top-level-menu a.nekalabel{color:#dd4b39;}
.top-level-menu a.ovrigtlabel{color:#f39c12;}*/
.kk_aj_bg_beige{
    background: $kk_aj_beige;

    padding-bottom:70px;
    h2{
        font-size: 2.2rem;
        margin-top:60px;
        margin-bottom:40px;             
        color:$white;
    }
    h3{    
           font-weight:600;  
           color:$white;    
       }
     p{color:$white;}
        .kk_aj_kontaktmbutton{
            background:$kk_aj_lightgrey;
            color:$black;
            @extend .buttonmall;
            @extend .darkhover;
            text-transform:uppercase;
        }
}
/* Thomas fixar ------------------------------------------------------------------- */

/*110px med font-sizebas 16px; acumin light*/
h1{
    @extend .t_h1;
}

.kk_aj_searchHeader{
    @extend .blockavstand;

}
.kk_aj_mainLogoheaderblock{
    ul{
        li{
            a{
                @extend .t_h3;
            }
        }
    }
}
.kk_aj_mainInfotextblock,.kk_aj_omkulturkatalogenblock{     
    h2{
        @extend .t_h2;
        font-weight:800!important;
    }
    p{
        @extend .t_p;
    }
}

.kk_aj_mainFreetextSearchblock{
    h2{
        @extend .t_h2;
        font-weight: 300!important; 
    }
    input{
        height:3rem;
        border:0px;
    }
    .button {
        margin-top:.5rem;
    }
}
.kk_aj_mainKontaktblock{
     h2{
        @extend .t_h2;
        font-weight: 300!important; 
    }
      @media #{$small-only} {
          h3{
            font-size: 1rem!important;           
        }
    }  

}
.searchformbutton{
    @media #{$large-up} {
        max-width:246px;
    }
} 
.kk_aj_mainsearchblock{
    h2{
        @extend .t_h2;
        color:$white;
        font-weight: 300!important; 
    }
    h3{
        @extend .t_h3;  
        color:$white;      
    }
}

.hittaarrHeader {
    h2{
        @extend .t_h2;
        font-weight: 300!important; 
    }
}
/* line 18, _dev/devsass/devScss/Komponenter/_kivbuttons.scss */
.buttonmall, .kk_aj_mainFreetextSearchblock #kk_aj_btnfreetextSearch.tiny, .kk_aj_searchbuttonblock button.tiny,.kk_aj_kontaktmbutton, .kk_aj_visaminneslistan,.kk_aj_searchRensaformbutton, .kk_aj_bg_beige .kk_aj_kontaktmbutton {
  width: 16rem !important;
  font-size: 16px!important;
  height:  28px!important;
  border-radius: 14px;
  padding: 1px!important;
  }
#kk_aj_btnfreetextSearch{
    margin-top:2rem!important;
    margin-bottom:0px!important;
}
.kk_aj_kontaktmbutton{
    width: 20rem !important;
}
.kk_aj_visaminneslistan{
    img{max-height:27px!important;
        margin-right:-1px;
    }

}

.jplist-select_Stilmall, .kk_aj_filterRubrikBlock .jplist-select, .kk_aj_mainproductlistblock .kk_aj_filterblock .jplist-select, .kk_aj_mainproductlistblock .kk_aj_sort .jplist-select {
    width:246px!important;
    @media #{$small-only} {
        width:100%!important;
    }
    @media #{$medium-only} {
         width:100%!important;
    }
}
.jplist-range-slider {
    width:234px!important;
    @media #{$small-only} {
        width:96%!important
    }
    @media #{$medium-only} {
        width:98%!important
    }
}
#kk_aj_slider-range2{
    margin-left:.5rem;
    margin-bottom:.5rem;
    width:97%!important;                 
}

.blockavstand{
    padding-top:15px;
    padding-bottom:50px;
     @media #{$small-only} {
        padding-top:30px;
        padding-bottom:35px;
    }
}

.t_h1{
   font-size: 6.875rem; /*110px*/
   font-size: 5.8rem; /*100px*/
    
   &.granska_rubrik{
       font-size: 3.5rem; /*56px*/
        @media #{$small-only} {
            font-size: 10vw; /*36px*/
        }
   }
   @media #{$small-only} {
        font-size: 10vw; /*50px*/
   }
   @media #{$medium-only} {
            font-size: 10vw; /*36px*/
   }
   font-style: normal;
   font-weight: 200!important; 
   margin-left: -6px; 
   margin-right: -8px;
}
.t_h2{
   font-size: 3rem!important; /*48px*/
   line-height: 48px;
    @media #{$small-only} {
        font-size: 1.5rem!important;
         line-height: 24px;
    }   
   font-style:normal;   
}
.t_h2_allt{
   font-size: 2.5rem!important; /*48px*/
   line-height: 48px;
   @media #{$small-only} {
        font-size: 1.375rem!important;
        line-height: 24px;
    }   
   font-style:normal;   
}
.t_h3{
   font-size: 1.125rem; /*22px*/
   line-height: 30px;
   @media #{$small-only} {
        font-size: 1rem!important;
        line-height: 15px;
    } 
   font-style:normal;
   font-weight:600;
}
.t_p{
   font-size: 1.375rem; 
   line-height: 30,8px;
   @media #{$small-only} {
        font-size: .85rem!important;
        line-height: 16px;
    } 
   font-style:normal;   
}