/*Artikel skinnets css*/

.artikelSuperBlock{
    .artikelwrapper{
        margin-top:2rem;
    }
    .MainRubrikPane{
        h1{
            color:#f77136;
            margin-bottom: 3rem;
            padding-bottom: 0.3rem;
            border-bottom:0.5rem solid #000;
        }
    }
    .artmaincontent{
        .contentPane{}
    }    
    .Fakta_mainblock{}
    .Kontakt_mainblock{}
    .Dela_mainblock{}

}/* END artikelSuperBlock */
