.columns{
    @media #{$small-only} {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
}
.column{
    @media #{$small-only} {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
}

.jplist-select_Stilmall {        
                padding: 4px;
                font-size: 14px;
                line-height: 1;
                border: 1px;
                border-radius: 5px;
                border-color:#e6e6e6;
                border-style:solid;
                height: 30px;
                background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #f8f8f8;
                -webkit-appearance: none;
                background-position-x: 95%;
            }


.kk_aj_mainFreetextSearchblock{
   
    .kk_aj_searchHeader{
        h1{font-size:3.5rem;padding-bottom:1.5rem;}
        @media #{$small-only} {
            h1{font-size:2.5rem;padding-bottom:1.5rem;}
        }
        p{
            padding-left:1.6rem; 
            padding-right:1.6rem;
            @media #{$medium-up} {
                padding-left:2.6rem; 
                padding-right:2.6rem;
            }
        }
        margin-top:3rem;
        margin-bottom:2rem;
        @media #{$medium-up} {
            margin-top:6rem;
            margin-bottom:2rem;
        }
    }

    .kk_aj_freetextSearch{
        border-radius:10px 0px 0px 10px !important;
        margin-right:0px;
        padding-right:0px;
    }
    .kk_aj_btnfreetextSearch{
        border-radius:0px 10px 10px 0px !important;
        color:#fff !important;
    }
} 

.kk_aj_superProductListBlock{
    /*background: url(http://kulturkatalog.kivdev.se/portals/0/kulturkatalogenArrImages/kulturkatalogen/bak_kulturkatalogen.jpg);
    background-size: 100% auto;
    background-repeat:no-repeat;*/
     .row{margin:0rem!important;}
   /* Superblock globals */

    .kk_aj_coloredblocks{
        margin-top:2rem;                
        background:$orange;
        h2{
            color:$white;
        }
    }

    /*Sök form --------------------------------------*/
    .kk_aj_mainsearchblock{
          padding-top: 4rem;
          
        .ui-state-active{background:#fff !important; border-color:#f77136 !important;}
        .searchformblock{
            margin-top:1rem;
            #kk_aj_yearspan2{padding-top:.4rem;}
             @media #{$large-up} { 
                 margin-top: 4rem;
             }
            /* mainblock globals */               
            .button{
                margin-bottom:0.6rem;  
                max-height:60px;           
                &.round{
                    border-radius: 6px;
                }
                &.small{
                    padding-left:.2rem;
                    padding-right:.2rem;
                }
                &.secondary{
                    background-color:#efeded;
                    &:hover{
                        background-color:#f77136; 
                        opacity:0.6;
                        color:$white;
                    }
                }
            } /*END button*/
        
            .button-group{
                #val_formDesign{padding-left:1rem; padding-right:1rem;}
                &.even-2{
                    li{
                        .button{
                            width:94%;
                            padding:.6rem;
                        }
                    }
                }
             
            } /*END button-group*/
    
            fieldset{
                legend{
                    margin-bottom:0.5rem;                   
                }
                &.arrkonstform{
                    @extend .centerfields;
                }
                &.arrpublik{
                    @extend .centerfields;
                }
                &.arralder{
                    padding:0 1.7rem;
                    .ui-widget-header{
                        background:$orange !important;
                    }
                }
                /*#kk_aj_yearspan{
                    margin-top: 0.5rem;
                    background-color:#f77136; 
                    color:#fff; 
                    float:right;
                    padding-left:1rem; 
                    padding-right:1rem;
                    padding-top:.5rem;
                    padding-bottom:.5rem; 
                    font-size: 0.9rem;
                }*/
                #kk_aj_yearspan{
                    margin-top: 0.5rem;
                    _background-color:#f77136; 
                    color:#000; 
                    float:right;
                    padding-left:1rem; 
                    padding-right:.2rem;
                    padding-top:.0rem;
                    padding-bottom:.5rem; 
                    font-size: 0.9rem;
                }
            }
            .kontformBlock{
            @extend .valbaraRadiobuttons;
            }      
        }
        .kk_aj_searchbuttonblock{
            margin-top:2rem;
            margin-bottom:4rem;          
            @media #{$small-only} {
                margin-bottom:2rem;
            }
            .button{
                margin-left:1rem;  
                margin-right:1rem;
                width:30%;
                @media #{$small-only} {
                   width:40%;
                    margin-left: 0.5rem;
                    margin-right: .5rem;   
                    padding-left: .1rem;
                    padding-right: .1rem;
                }
                                          
                &.round{
                    border-radius: 6px;
                }
                &.small{
                    padding-left:.2rem;
                    padding-right:.2rem;
                }
                &.info{
                    color:$white;
                }
                .kk_aj_searchRensaformbutton{
                    &:hover{
                       background: $smoke!important;
                    }
                }
            } /*END button*/
        }
    }/* END Sök form ---------------------------------*/

  

    /*produktlista ----------------------------------*/
    .kk_aj_filterRubrikBlock{
        @media #{$small-only} {
            h3{font-size:$h4-font-size;
               font-weight: bold;
            }
        }
        .jplist-drop-down {                        
                font-size: 14px;
                line-height: 1;
                border: 1px;
                border-radius: 5px;
                border-color:#e6e6e6;
                border-style:solid;
                height: 30px;               
            }
        .jplist-select {        
               @extend .jplist-select_Stilmall;
               margin:0px;
               padding:0px;
            }
    }
    .kk_aj_mainproductlistblock{
        
        .kk_aj_filterblock{
            margin-bottom: 1rem;
            padding-right:2.5rem!important;
            /* START Filter tillvänster --------------------*/
            .spellangdblock{
                h4{
                    margin-top:1rem;
                    margin-bottom:.1rem;
                }
                .jplist-range-slider{
                    width:160px;
                    margin-top:0px;
                    margin-left:.5rem;
                    .value{
                        margin:0px;
                        margin-top:.5rem;
                    }
                }
            }
            .kk_aj_searchfilterblock{margin-left:.5rem;}
           
            /* STOPP Filter tillvänster -------------------*/
            .resetbox{margin-top: 1rem;}
            .jplist-select {        
               @extend .jplist-select_Stilmall;
            }

        }
        .like{display: none;
        }
        .kk_aj_sort{
            .jplist-select {        
               @extend .jplist-select_Stilmall;
               margin:0px;
               padding:0px;
               padding-left:.5rem;
            }
        }

        /*START Produktlistningen sökresultat-----------*/ 
        .kk_aj_productlistblock{
            
            .kk_aj_productlist{
                .kk_aj_filtervalues{display:none;}
                .S_KO{display:none;}
                .kk_aj_arritem{
                    border:1px solid transparent;
                    border-top:1px solid $smoke; 
                    padding-top: 1rem;
                    margin-bottom: 1rem !important;
                    text-align:left; 
                   
                    &:hover{                                                
                         /*background-color:$white;                                    
                         border-color: $orange;*/  
                         
                         background-color: #f9f9f9;
                        border-top-color: #f77136; 


                        background: linear-gradient(124deg, #f6f6f6, #f8f8f8, #f9f9f9, #fff, #e9e9e9, #e6e6e6, #e9e9e9, #fefefe, #e3e3e3);
                        background-size: 1800% 1800%;
 
                        -webkit-animation: rainbow 18s ease infinite;
                        -z-animation: rainbow 18s ease infinite;
                        -o-animation: rainbow 18s ease infinite;
                          animation: rainbow 18s ease infinite;
                                                      
                    }                   
                    .kk_aj_arr_item_thumbnail {                         
                        display:block;         
                                             
                        min-height:100%;    
                        padding:.1rem;
                        text-align:center; 
                        @media #{$medium-up} {
                            __padding-right:0px;
                            text-align:center; 
                        }                                                  
                        img{max-height: 150px;}
                        .kk_aj_arr_item_thumbnail_color{
                            background-color:$vapor;
                            /*background-color:transparent;*/
                        }   
                        .kk_aj_arr_item_thumbnail_img {                            
                            width: 100%;
                            height: 100%;
                        }
                        .kk_aj_arr_item_minneslista{text-decoration:none;
                              color:$jumbo;
                              font-size:small;                              
                              &.minnesadded{
                                  color:$success-color;
                              }
                              &:hover{
                              text-decoration:underline;                                    
                            }
                        }
                    }
                    .kk_aj_arr_item_contentblock{
                        min-height:8.2rem;
                        @media #{$small-only} {
                            min-height:4.2rem;
                        }
                        h2{
                            font-size:$h2arr-font-size;
                            color:$black;
                            font-weight:bold;
                        }
                        h3{
                            font-size:$h3arr-font-size;
                        }
                        h4{
                            font-size:$h5arr-font-size;
                        }
                    }
                    .kk_aj_arr_item_buttonblock{
                        .button { 
                            border:1px solid transparent;
                            background-color:$orange;
                             color:$white;
                            @media #{$small-only} {
                                padding:.5rem .7rem;                            
                            }                           
                            &.round{
                                border-radius: 0px; /*6px;*/
                            }
                            &:hover{
                               background-color:$white;                                    
                               border:1px solid $orange;
                               color:$orange;
                            }                            
                        }                       
                    }
                    .kk_aj_arr_item_Utovare{}
                    .kk_aj_arr_item_konstform{}
                    .kk_aj_arr_item_age{}
                    .inminneslist{
                        color:$success-color!important;
                    }
                }
            }

            
            .kk_aj_productPagerblock{
                border-top:1px solid $smoke;
                padding-bottom:1rem;
                .jplist-panel {
                     display: table;
                     margin: 0 auto;
                }
            }
        }
        /*STOPP Produktlistningen sökresultat ----------*/ 


       

    }
    
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
        


/*Multifunktioner*/
.centerfields{
    text-align:center;
}
.valbaraRadiobuttons{
    .vald{
            color:$white!important;
            background:$orange!important;
        }
    label{
        & > input{
            visibility: hidden; /* Makes input not-clickable */
            position: absolute;
                &:checked{                    
                         & + span{ 
                        color:$white;
                        background:$orange!important;
                }
                
            }
 
        }
        & + button{ /* IMAGE STYLES */
                cursor:pointer;
                border:2px solid transparent;
        }
    }
}



.jplist-panel{

    .jplist-pagination{
        
        
         button {
            font-family:$kiv-header-font-family;
            text-shadow:none;
            font-weight:$kiv-header-font-style;           
            color: $steel !important;           
            background: $ingressbggrey;
            
            &.jplist-current{
                font-weight:normal;
                color: $white !important;
                background:$success-color;
                &:hover{opacity:1;
                    color:inherit;
                    background: $success-color;
                }
            }
            &:hover{
                    color:$white!important;
                    opacity:0.5;
                    color:inherit;
                    background: $success-color;
            }
        }
    } 
}
#kk_aj_valdsokning{
    ul{        
        font-size: 0.8rem;
    }
    #kk_aj_valdsokord{
        margin-left:0px;
        list-style: none;
        li{
            float:left;
            margin-right:1rem;   
        }
    }
} 
 

