footer.footer {
  /* Footer Ren farg istallet for bild */
  /* background: #504f4d; */
    background: #000;
    padding-bottom: 38px;
}

/* Justera footer smabilds linjer  */
.footer .annonsrow img {
    min-width: 220px;
    max-width: 220px;
}

/* Annonsfooter vit bakgrund */
footer.footer.annonsfot {
    background: #fff;
    margin: 0 !important;
    padding: 0;
}

/* Footer Justering marginal */
.footer .footdelare {
    margin-top: 5rem;
}

/* Footer Forminska kiv logga och justera i botten */
.footer .footdelare .foot-kivlogo-container img {
    max-width: 160px;
}

.footer .footdelare .foot-kivlogo-container {
    height: 83px;
}

/* Footer social */
.footer .footdelare .socialiconlist img {
    max-width: 48px;
}

/* Pil bakgrund */
.foot-lank {
    text-align: left;
}

.foot-lank.last {
    margin-bottom: 35px;
}

.foot-lank a {
    overflow: hidden;
    display: inline-block;
    width: 330px;
}

.foot-lank-pil {
    float: right;
    margin-left: 10px;
    width: 33px;
    height: 33px;
    background-image: url("../images/kiv-elements.png");
    background-position: -19px -120px;
    background-repeat: repeat-x;
}

@media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .foot-lank-pil {
        background-image: url("../images/kiv-elements@2x.png");
        background-size: 500px 700px;
    }
}
