// ************************************************************************************/
// ********************************* VARIABLES ****************************************/
// ************************************************************************************/


// ********************************************************/
// *********************** COLORS *************************/
// ********************************************************/

$brun   			: #a38f5a;
$orange				: #f77136;
$flex-bg			: #505050;

// ********************************************************/
// *********************** PADDING ************************/
// ********************************************************/
$top-sektion-padding-small : 30px;
$top-sektion-padding-large : 60px;
$bottom-sektion-padding-small : 35px;
$bottom-sektion-padding-large : 70px;
$rubrik-sektion-padding-small : 20px;
$rubrik-sektion-padding-large : 40px;


// ********************************************************/
// *********************** GRID ***************************/
// ********************************************************/
$tab: 40em;
$desk: 64em;

//$tab: 44em;
//$desk: 70em;

// $vert-spacing-unit: 18px;
// $horz-spacing-unit: 1em;



// $grids: 4;
// $grids: add-grid(12 at $tab);

// $gutters: 1/3;

//$container-width: 1080px;
// ACUTE TIDIGARE $container-width: 1120px;


// ********************************************************/
// ******************* TYPOGRAPHY *************************/
// ********************************************************/
$base-font-size: 16px;
$base-line-height: 1.4;