@import "singularitygs";
@import "compass";
@import "breakpoint";

@import "variables/**/*.scss";

// New header
.kiv-new-header {
    // Search
    .searchMainWrapper {
        min-height: 50px;
        height: 50px;
        overflow: hidden;

        @include breakpoint($tab) {
            min-height: 200px;
        }


        #contentfilterblock {
            margin-top: 0px;
            margin-bottom: 0px;

            @include breakpoint($tab) {
                margin-top: 0.5rem;
                margin-bottom: 1em;
            }


            input {
                background: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                -ms-box-shadow: none;
                -o-box-shadow: none;
                box-shadow: none;
                font-size: 1.2rem;

                @include breakpoint($tab) {
                    background: #fff;
                    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                    -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                    -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                    font-size: 1.5rem;
                }
            }

            input:placeholder-shown {
                text-transform: uppercase;

                @include breakpoint($tab) {
                    text-transform: initial;
                }
            }
        }

        #edit-submit {
            position: absolute;
            top: 0;
            right: 0;
            height: 50px;
            width: 60px;
            background-color: transparent;
            overflow: hidden;
            line-height: 2000;
            margin: 0;
            padding: 0;
            background-image: url("../images/kiv-elements.png");
            background-position: -2px -238px;
            background-repeat: repeat-x;

            @include image-2x("../images/kiv-elements@2x.png", 500px, 700px);

            @include breakpoint($tab) {
                position: relative;
                height: auto;
                width: auto;
                background-color: #999999;
                overflow: visible;
                line-height: 13px;
                margin: 0 0 1.25rem;
                padding: 1rem 2rem 1.0625rem 2rem;
                background-image: none;
            }
        }
    }

    // SHOW ON MOBILE
    .searchMainWrapper {
        display: block !important;

        @include breakpoint($tab) {
            display: none !important;
        }
    }

    .searchMainWrapper.sok-open {
        @include breakpoint($tab) {
            display: flex !important;
        }
    }

    // Top bar
    .tab-bar {
        height: 45px;
        background: #fff;
    }

    // Left menu button
    .left-small {
        height: 45px;
        line-height: 45px;
        background: none;
        border: none;
        background-image: url("../images/kiv-elements.png");
        background-repeat: repeat-x;

        @include image-2x("../images/kiv-elements@2x.png", 500px, 700px);

        @include animate(0.5s, opacity);

        width: 85px;
        background-position: -1px -3px;

        @include breakpoint($tab) {
            width: 150px;
        }
    }

    .left-small span {
        color: #000;
        font-size: 18px !important;
        padding-left: 67px;
        visibility: hidden;

        @include breakpoint($tab) {
            visibility: visible;
        }
    }

    .left-small:hover {
        @include opacity(0.7);
    }

    // Search
    .right-small {
        right: 350px;
        height: 45px;
        width: 120px;
        line-height: 45px;
        background: none;
        border: none;
        background-image: url("../images/kiv-elements.png");
        background-position: 2px -61px;
        background-repeat: repeat-x;

        @include image-2x("../images/kiv-elements@2x.png", 500px, 700px);

        @include animate(0.5s, opacity);

        display: none !important;

        @include breakpoint($tab) {
            display: block !important;
        }
    }

    .right-small span {
        color: #000;
        font-size: 18px !important;
        padding-left: 48px;
    }

    .left-small:hover {
        @include opacity(0.7);
    }

    // logo
    .tab-bar-logosection {
        height: 45px;
        line-height: 45px;
        border: none;
        background: none;
        margin: 0;
        left: auto;
        right: 0px;
        padding-right: 0;
        width: 285px;

        @include breakpoint($tab) {}
    }

    .logo-img a {
        height: 45px;
        width: 275px;
        line-height: 2000px;
        display: block;
        overflow: hidden;
        background-image: url("../images/kiv-elements.png");
        background-repeat: repeat-x;

        @include image-2x("../images/kiv-elements@2x.png", 500px, 700px);

        background-position: -12px -168px;

        @include breakpoint($tab) {}
    }
}